
<div class="bg-primaryBackground min-h-screen">

  <!-- Select div -->
<div class="flex flex-col justify-center items-center h-[20vh] p-2">
  <h1 class="text-2xl font-bold text-center mb-4 text-white" >
   Discover the Weather: Select Your City Below
  </h1>  
  <select class=" bg-blue-900 text-3xl text-white" id="city" [(ngModel)]="selectedCity" (change)="onCityChange()">
    <option class= "text-center" value="" disabled selected>City</option>
    <option class= "text-center text-white" *ngFor="let city of cities" [value]="city">{{ city }}</option>
  </select>
</div>

<!-- Chart and weather data table -->
<div class="flex flex-col lg:flex-row items-stretch">

 <div class="w-full lg:w-2/3 p-4 ">
    <div *ngIf="!selectedCity; else chartSection" class="flex bg-secondaryBackground items-center justify-center h-full border border-gray-300 rounded-md">
      <p class="text-center text-white">
        The five-day weather forecast chart will appear here!
      </p>
    </div>
    <ng-template #chartSection>
      <app-weather-chart [chartData]="weatherData"></app-weather-chart>
    </ng-template>
  </div>

  
  <div class="w-full lg:w-1/3 p-4 h-[80vh] ">
    <div *ngIf="!selectedCity; else tableSection" class="flex bg-secondaryBackground items-center justify-center h-full border border-gray-300 rounded-md">
      <p class="text-center text-white">
        The detailed weather forecast will be shown here!
      </p>
    </div>
    <ng-template #tableSection>
      <div class="h-full overflow-y-auto border border-gray-300 rounded-md">
        <table class="table-auto w-full  bg-secondaryBackground">
          <thead class="bg-secondaryBackground">
            <tr>
              <th class="px-4 py-2 text-white text-left">Date</th>
              <th class="px-4 py-2  text-white text-left">Temperature (°C)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of weatherData" class="bg-secondaryBackground"
            >
              <td class="px-4 py-2 text-white" >{{ data.date }}</td>
              <td [ngClass]="{
                'text-blue-500': data.temperature < 15,
                'text-red-500': data.temperature > 25,
                'text-white': data.temperature >= 15 && data.temperature <= 25
              }">
            {{ data.temperature }}
            <span *ngIf="data.temperature < 15">🥶</span>
            <span *ngIf="data.temperature > 25">🔥</span>
          </td>
          
            </tr>
          </tbody>
        </table>
      </div>
    </ng-template>
  </div>
</div>
</div>

