<div class="flex justify-center text-center p-4">
  <select class="text-[2rem]" id="city" [(ngModel)]="selectedCity" (change)="onCityChange()">
    <option value="" disabled selected>Select City</option>
    <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
  </select>
</div>

<div class="flex flex-col lg:flex-row items-stretch h-[80vh]">

  <div class="w-full lg:w-2/3 bg-blue-100 p-4">
    <app-weather-chart [chartData]="weatherData"></app-weather-chart>
  </div>

  
  <div class="w-full lg:w-1/3 bg-green-100 p-4" *ngIf="weatherData">
    <h3>Weather Forecast for {{ selectedCity }}</h3>
    <div class=" h-[70vh] overflow-y-auto border border-gray-300 rounded-md">
      <table class="table-auto w-full">
        <thead class="bg-gray-200">
          <tr>
            <th class="px-4 py-2 text-left">Date</th>
            <th class="px-4 py-2 text-left">Temperature (°C)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of weatherData" class="odd:bg-white even:bg-gray-50">
            <td class="px-4 py-2">{{ data.date }}</td>
            <td class="px-4 py-2">{{ data.temperature }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

